### End-to-end capstone project

In [33]:
# import libraries
# %matplotlib widget
import numpy as np
import pandas as pd
import streamlit as st
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
# generate data
# create data for years of monthly temperature average
date_array = pd.date_range(start='2015-03-01', end='2025-03-31', freq='M')

C:\Users\Dell\AppData\Local\Temp\ipykernel_29648\1197567729.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  date_array = pd.date_range(start='2015-03-01', end='2025-03-31', freq='M')

In [35]:
# synthetic temperature data with seasonal patterns 3.142
temps = []
for i in range(len(date_array)):
    # base temperature with seasonal pattern
    seasonal = 20 + 10 * np.sin(2*np.pi*i/12)
    trend = 0.03 * i
    noise = np.random.normal(0, 1.5)
    temps.append(seasonal+trend+noise)

In [36]:
df = pd.DataFrame({"date":date_array, "temperature":temps})
df.head(3)

        date  temperature
0 2015-03-31    18.972173
1 2015-04-30    28.164995
2 2015-05-31    28.139740

#### Feature engineering

In [37]:
# extract year, month, days
df["year"] = df["date"].dt.year
df["month"] = df["date"].dt.month
df["day"] = df["date"].dt.day

### EDA

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         121 non-null    datetime64[ns]
 1   temperature  121 non-null    float64
 2   year         121 non-null    int32
 3   month        121 non-null    int32
 4   day          121 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(3)
memory usage: 3.4 KB

In [39]:
# summary statistics
df.describe()

,date,temperature,year,month,day
count,121,121.000000,121.000000,121.000000,121.000000
mean,2020-03-30 23:48:05.950413312,21.786227,2019.710744,6.471074,30.446281
min,2015-03-31 00:00:00,8.681024,2015.000000,1.000000,28.000000
25%,2017-09-30 00:00:00,14.876807,2017.000000,3.000000,30.000000
50%,2020-03-31 00:00:00,21.956357,2020.000000,6.000000,31.000000
75%,2022-09-30 00:00:00,28.164995,2022.000000,9.000000,31.000000
max,2025-03-31 00:00:00,34.636573,2025.000000,12.000000,31.000000
std,NaN,7.392785,2.936659,3.466685,0.805713

In [40]:
# summary statistics for 2025
df[df["year"] == 2025].describe()

                      date  temperature    year  month        day
count                    3     3.000000     3.0    3.0   3.000000
mean   2025-03-01 00:00:00    20.155615  2025.0    2.0  30.000000
min    2025-01-31 00:00:00    17.942622  2025.0    1.0  28.000000
25%    2025-02-14 00:00:00    18.631304  2025.0    1.5  29.500000
50%    2025-02-28 00:00:00    19.319986  2025.0    2.0  31.000000
75%    2025-03-15 12:00:00    21.262111  2025.0    2.5  31.000000
max    2025-03-31 00:00:00    23.204237  2025.0    3.0  31.000000
std                    NaN     2.728526     0.0    1.0   1.732051

In [41]:
# summary statistics for 5 years back
df[df["year"] >= 2020].describe()

,date,temperature,year,month,day
count,63,63.000000,63.000000,63.000000,63.000000
mean,2022-08-30 17:54:17.142857216,22.339523,2022.142857,6.285714,30.428571
min,2020-01-31 00:00:00,10.707478,2020.000000,1.000000,28.000000
25%,2021-05-15 12:00:00,15.583644,2021.000000,3.000000,30.000000
50%,2022-08-31 00:00:00,22.053489,2022.000000,6.000000,31.000000
75%,2023-12-15 12:00:00,29.149757,2023.000000,9.000000,31.000000
max,2025-03-31 00:00:00,34.636573,2025.000000,12.000000,31.000000
std,NaN,7.507521,1.533046,3.535208,0.836935

In [43]:
plt.plot(df["year"], df["temperature"])
plt.title("yearly temperature")
plt.show()

C:\Users\Dell\AppData\Local\Temp\ipykernel_29648\2207770707.py:3: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [ ]:
plt.plot()

#### algorithm experimentation

In [11]:
# select features
X = df[["year", "month"]].values
y = df["temperature"].values